[submodule "ios/LoopKit"]
	path = ios/LoopKit
	url = https://github.com/loopandlearn/LoopKit.git
[submodule "ios/OmniBLE"]
	path = ios/OmniBLE
	url = https://github.com/loopandlearn/OmniBLE.git
[submodule "ios/G7SensorKit"]
	path = ios/G7SensorKit
	url = https://github.com/loopandlearn/G7SensorKit.git
[submodule "ios/CGMBLEKit"]
	path = ios/CGMBLEKit
	url = https://github.com/loopandlearn/CGMBLEKit.git
[submodule "ios/dexcom-share-client-swift"]
	path = ios/dexcom-share-client-swift
	url = https://github.com/loopandlearn/dexcom-share-client-swift.git
[submodule "ios/NightscoutRemoteCGM"]
	path = ios/NightscoutRemoteCGM
	url = https://github.com/LoopKit/NightscoutRemoteCGM.git
	branch = dev
